body {
    padding-top: 5rem;
}

.grid-container{
	display: grid;
	grid-template-columns: repeat(3, 203px);
	grid-template-rows: repeat(3, 203px);
	grid-gap: 10px;
}

.grid-img{
	width: 200px;
	height: 200px;
}